<h1>Some changes ? Edit <%= @dog.name %> profile !</h1>
<%= cl_image_tag @dog.photos.first.key, :class => "photoprofile", crop: :fill %>
<%= simple_form_for(@dog) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :gender %>
    <%= f.input :age %>
    <%= f.input :race %>
    <%= f.input :height %>
    <%= f.input :address, placeholder: "What is The favorite place of your dog for a walk ?" %>
    <%= f.input :description %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to "Remove", dog_path(@dog), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
