<style>
body{
}
.wrapper {
  width: 93%;
  margin: 0 auto;
 }
</style>


<div class="backgroundpicture">
<div class="d-flex justify-content-center">
<%= form_with url: dogs_path, method: :get, class: "d-flex justify-content-between" do %>
  <%= select_tag :query, options_for_select(["Select gender", "Male", "Female"]), class:"superbttn"  %>
    <%= submit_tag "Search", class: "btn btn-dark btn-outline-white" %>
  <% end %>
  </div>
<div class="wrapper">
  <div class="scroll-container" style="">
    <% @dogs.each do |dog| %>
      <%= link_to dog_path(dog), class: "link-dog" do %>
      <div class="card-group">
      <div class="card my-3">
          <% if dog.photos.length != 0 %>
            <%= cl_image_tag dog.photos.first.key, crop: :fill %>
          <% else %>
            <p>no picture</p>
          <% end %>
            <div class="card-trip-infos">
              <div>
                <h2><%= dog.name  %></h2>
                <p><i class="fa-solid fa-location-arrow"></i> <%= dog.address.split.last %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
  </div>
</div>
<div class="mystere">
</div>
</div>
</div>
