<%= simple_form_for(@dog) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :gender, as: :select, collection: ["Male", "Female"] %>
    <%= f.input :age %>
    <%= f.input :race %>
    <%= f.input :height %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit %>
  </div>

<% end %>
