<h1>show#dogs</h1>
<% if @dog.photos.length != 0 %>
<%= cl_image_tag @dog.photos.first.key, crop: :fill %>
<% else %>
        <p>no picture</p>
      <% end %>
<p><%= @dog.name %></p>
<%= simple_form_for([@dog, @comment]) do |f| %>
  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.button :submit %>
  </div>
<% end %>
<ul><li>
<% @comments.each do |comment| %>
<%= comment.content %>
<% end %>
</li></ul>

<% if @dog.id == current_user.id %>
<p><%= @precise %></p>
<% end %>
