<style>
body{
  background-color: #FFF5E4;
}
</style>

<%# PHOTO CHIEN %>

<% if @dog.photos.first.nil?  %>
  <div class="photocontainer photo-default">
    <div class="elementscontain">
    <div class="supertitle">
        <%= @dog.name %>, <%= @dog.age %> yo
      </div>
    <p class="particulardescri"><%= @dog.race %> <%= @dog.height %></p>
<p>
<% if @dog.gender == "female" %>
        <i class="fa-solid fa-venus supericon"></i>
      <% else %>
        <i class="fa-solid fa-mars supericon"></i>
      <% end %>
      </p>
      <p><%= link_to "Chat with #{@dog.name}", chatroom_path(@users.id), :class => "bouton-message" %></p>
    </div>
  </div>

<% else %>

  <div class="photocontainer" style="background-image: url('<%= cl_image_path @dog.photos.first.key %>') ">
    <div class="elementscontain">
    <div class="supertitle">
        <%= @dog.name %>, <%= @dog.age %> yo
      </div>
    <p class="particulardescri"><%= @dog.race %> <%= @dog.height %></p>

<p>
<% if @dog.gender == "female" %>
        <i class="fa-solid fa-venus supericon"></i>
      <% else %>
        <i class="fa-solid fa-mars supericon"></i>
      <% end %>
      </p>
      <p><%= link_to "Chat with #{@dog.name}", chatroom_path(@users.id), :class => "bouton-message" %></p>
    </div>
  </div>
<% end %>


<%# --------------- %>




<%# DESCRIPTION %>
<div class="dogdescription d-flex justify-content-center my-5">
<p class="findugame"><%= @dog.description %></p>
</div>

<%# ------------------ %>


<%# PARAMETRES %>
<div class="d-flex justify-content-around superp">
<span class="details2">
    <% if @dog.gender == "female" %>
      <strong><%= @dog.user.first_name %></strong>'s daughter
    <% else %>
      <strong>🧍🏼<%= @dog.user.first_name %></strong>'s son
    <% end %>
  </span>

  <span class="addressdog">
  <i class="fa-solid fa-location-dot"></i>  <%= @dog.address.split.last %>
  </span>
  </div>
  <%# ------------------------ %>

<br>
<br>

<div class="wrapperp d-flex justify-content-center">
<div class="scrolling-wrapper">
<% @comments.each do |comment| %>
<% if @dog.id == comment.dog_id %>
<div class="card">
<p class="supercomment">"<%= comment.content %>"</p>
<p class="supericon"><i class="fa-regular fa-comment commenticon"></i></p>
</div>
<% end %>
<% end %>
</div>
</div>
<br>
<h3 class="d-flex justify-content-center my-3">Leave a review to  <em>  <%= @dog.name %> </em> </h3>

<%= simple_form_for([@dog, @comment]) do |f| %>
  <div class="form-inputs">
    <%= f.input :content, label: false, placeholder: "Say something to #{@dog.name} ...", class: "textzone" %>
    <%= f.button :submit, class: "btn w-80 d-flex justify-content-center" %>
  </div>
<% end %>

<br>
<br>


<div style="width: 100%; height: 300px; margin-bottom: 85px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
