<% if @dog.photos.length != 0 %>
<%= cl_image_tag @dog.photos.first.key, :class => "photoprofile", crop: :fill %>
<% else %>
        <p>no picture available for now ...</p>
<% end %>

<div class="container">
<div class="row">
<% @dogs.each do |dog| %>
<%= dog.name %>
<%= dog.age %>
<%= dog.gender %>
<%= dog.race %>
<%= dog.height %>
<%= dog.description %>
<%= dog.address %>
<% end %>
</div>
</div>


<h1>Leave a review :</h1>
<p><%= @dog.name %></p>
<%= simple_form_for([@dog, @comment]) do |f| %>
  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.button :submit %>
  </div>
<% end %>
<ul>
<li>
<% @comments.each do |comment| %>
<%= comment.content %>
<% end %>
</li>
</ul>



<div style="width: 40%; height: 400px; margin: 0 auto;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
