<h1>show#dogs</h1>
<% if @dog.photos.length != 0 %>
<%= cl_image_tag @dog.photos.first.key, crop: :fill %>
<% else %>
        <p>no picture</p>
      <% end %>
<p><%= @dog.name %></p>
<%= simple_form_for([@dog, @comment]) do |f| %>
  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.button :submit %>
  </div>
<% end %>
<ul><li>
<% @comments.each do |comment| %>
<%= comment.content %>
<% end %>
</li></ul>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <% console %>
