
<div class="d-flex justify-content-center">
<h1 class="titlemain">Hello <%= @user.first_name %>, and Welcome !</h1>
</div>


<div class="d-flex justify-content-center">
<% if @user.photo.attached? %>
  <%= cl_image_tag @user.photo.key, crop: :fill, :class => "img_preview" %>
<% else %>
<p>No Photo</p>
<% end %>
</div>
<br>
<div class="d-flex justify-content-center">
<%= link_to new_dog_path, class: "newdog" do %>
  <p><i class="fa-solid fa-plus"></i>  New Dog ?</p>
<% end %>
</div>
<br>
<div class="d-flex justify-content-center my-3">
<i class="fa-regular fa-comment-dots supercommenticon"></i>
</div>
<br>






<div class="d-flex justify-content-center">
<div class="scrolling-wrapperre">

  <% @dogs.each do |dog| %>
  <% dog.comments.each do |comment| %>
  <div class="carda">
  <p class="contentcaroussel">"<%= comment.content %>"</p>
  <p class="content2"> <i class="fa-solid fa-dog"></i> <%= dog.name %></p>
  <p class="content2"> <i class="fa-regular fa-user"></i>  <%= comment.user.first_name %></p>
  </div>
<% end %>
<% end %>
</div>
</div>
<br>
<div class="d-flex justify-content-center my-3">
<i class="fa-solid fa-dog supercommenticon"></i>
</div>
<div class="divphotos d-flex justify-content-center">
<% @dogs.each do |dog| %>
 <%= link_to edit_dog_path(dog), class: "superlink" do%>
  <%= cl_image_tag dog.photos.first.key, crop: :fill, :class => "imgdog" %>
<% end %>
<% end %>
</div>



<div class="piege">
</div>
