<%= link_to "You Have a new pet click here !", new_dog_path %>
<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.email %>
<p>My current Position is at : <%= @user.address %></p>
<%= cl_image_tag @user.photo.key, crop: :fill %>
<h1>My reviews</h1>
<ul>
<% @dogs.each do |dog| %>
  <% dog.comments.each do |comment| %>
    <%# <% if comment.dog_id == @dog.id && @dog.user_id == current_user.id%>
    <li><%= comment.content %></li>
    <%# <% end %>
  <% end %>
<% end %>
</ul>
<% console %>

<h1>My Dogsssssss :</h1>

<ul>
<% @dogs.each do |dog| %>
  <li><%= link_to dog.name, edit_dog_path(dog) %></li>
<% end %>
</ul>
