<div class="footer-fix w-100" style="z-index: 1000">
  <div class="footer-links justify-content-around p-2">
    <% if user_signed_in? %>
        <%= link_to dogs_path, class: "nav-link" do %>
        <i class="fa-solid fa-paw"></i>
        <% end %>
        <%= link_to users_path, class: "nav-link" do %>
          <i class="fa-solid fa-map-location-dot"></i>
        <% end %>
        <%= link_to user_path(current_user), class: "nav-link" do %>
          <i class="fa-solid fa-id-badge"></i>
        <% end %>
        <%= link_to chatrooms_path, class: "nav-link" do %>
          <i class="fa-regular fa-envelope"></i>
        <% end %>
    <% else %>
      <a class="nav-link">
        <%= link_to "Login", root_path, class: "nav-link" %>
      </a>
    <% end %>
  </div>
</div>
